<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427497322074-0rilb8apjuu0pnjj8e1ksgckekjuarrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427497322074-0rilb8apjuu0pnjj8e1ksgckekjuarrj</string>
	<key>API_KEY</key>
	<string>AIzaSyANw5PqSaqJBxxI1aAsX9awXzCGFDwQ1gA</string>
	<key>GCM_SENDER_ID</key>
	<string>427497322074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cems-it.SayenTeam</string>
	<key>PROJECT_ID</key>
	<string>elegant-fort-280314</string>
	<key>STORAGE_BUCKET</key>
	<string>elegant-fort-280314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:427497322074:ios:3c46b3a7ade1ae99fd8a63</string>
	<key>DATABASE_URL</key>
	<string>https://elegant-fort-280314.firebaseio.com</string>
</dict>
</plist>
